<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>318141446620-30d0h0k0m5doi4bk9aajq77n2lev22i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318141446620-30d0h0k0m5doi4bk9aajq77n2lev22i5</string>
	<key>API_KEY</key>
	<string>AIzaSyBjFBdu8b9VFGodRB_TR8yrvFiAzQX6T5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>318141446620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laurennicoleroth.Wanderly</string>
	<key>PROJECT_ID</key>
	<string>wanderly-f0eed</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderly-f0eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:318141446620:ios:afc29c3f91ada9fb</string>
	<key>DATABASE_URL</key>
	<string>https://wanderly-f0eed.firebaseio.com</string>
</dict>
</plist>
